@model guahao.Models.administrator

@{
    ViewBag.Title = "管理员信息";
    ViewBag.Location = "管理员 > 管理员信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div>
    <div class="row">
        <div class="col-md-9">
            <div class="row col-md-12">
                <div class="col-md-3 leftdiv">
                    @Html.LabelFor(model => model.name, "管理员账号")
                </div>
                <div class="col-md-8 rightdiv">
                    @Html.DisplayFor(model => model.name)
                </div>
            </div>
            @if (Model.permission.ToString() != "0")
            {
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("所属医院")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @ViewBag.hospital
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="btndiv">
    @if (Model.permission == 0)
    {
        @Html.ActionLink("审核注册信息", "UserList", "Administrators");
        @Html.ActionLink("审核是否预约", "BlackList", "Administrators") ;
        @Html.ActionLink("管理预约信息", "Index", "AdminAppointments");
    }
    else
    {
        //医院
        @Html.ActionLink("管理预约信息", "Index", "AdminAppointments");
        @Html.ActionLink("管理出诊信息", "Index", "AdminVisits") ;
    }
    @Html.ActionLink("退出登录", "Logout")
</div>
