@model guahao.Models.administrator

@{
    ViewBag.Title = "管理员信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name,"管理员名")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.hospital_id,"管理员医院")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_id)
        </dd>

        <dt>
            @Html.LabelFor(model => model.permission,"管理员权限")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("审核注册信息", "UserList/"+Model.id, "Administrators") 
    @Html.ActionLink("返回登录", "Login")
</p>
