@model guahao.Models.administrator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>administrator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("审核注册信息", "UserList/"+Model.id, "Administrators") 
    @Html.ActionLink("Back to List", "Login")
</p>
