@model IEnumerable<guahao.Models.user>

@{
    ViewBag.Title = "审核注册信息";
    ViewBag.Location = Html.Raw(Html.ActionLink( "管理员","Details", "Administrators") + " > "
         + "审核注册信息");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <tr>
        <th>
            @Html.Label( "用户名")
        </th>
        <th>
            @Html.Label("真实姓名")
        </th>
        <th>
           @Html.Label("身份证号")
        </th>
        <th>
            @Html.Label("电话号码")
        </th>
        <th>
            @Html.Label("电子邮件")
        </th>
        <th>
           @Html.Label("是否激活")
        </th>
        <th>
            @Html.Label("信用等级")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.real_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.social_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_activated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credict_rank)
        </td>
        <td>
            @Html.ActionLink("激活账户", "ActivateUser/"+@item.id, "Administrators") 
        </td>
    </tr>
}

</table>
