@model guahao.Models.user

@{
    ViewBag.Title = "修改个人信息";
    ViewBag.Location = "首页 > 修改个人信息";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <label>用户名： @Session["user"]</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label><font color="#a50">请填写真实姓名与身份证号，以便管理员进行审核</font></label>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.real_name,"真实姓名", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.real_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.real_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.social_id,"身份证号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.social_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.social_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tel,"电话号码", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, "电子邮件",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="bb">修改</button>
                <button type="reset">重置</button>
            </div>
        </div>
        <div id="pp" class="col-md-offset-2 col-md-10">
        </div>
    </div>
}

<script>
function OnButtonClick()
{
    var real_name = $("#real_name").val();
    var social_id = $("#social_id").val();
    if (real_name!=""&&social_id!="")
	    $("#pp").text("实名认证信息已提交，等待管理员审核...");
}
$(function()
{
	$("#bb").click(OnButtonClick);
});
</script>