@model guahao.Models.user
@{
    ViewBag.Title = "注册";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.name, "用户名",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, "密码", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.password, "确认密码", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("password2",null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-lg">注册</button>
                <button type="reset" class="btn btn-primary btn-lg">重置</button>
            </div>
        </div>
        <div id="pp" class="col-md-offset-2 col-md-10">
        </div>
    </div>
}

<script>
function OnUserName()
{
    $.ajax(
    {
        url: "/Account/CheckName",
        type: "POST",
        data: {
            "name":$("#name").val()
        },
        success:function(data)
        {
            $("#pp").text(data);
        },
        error:function()
        {
            alert("请求失败");
        }
    });

}

function OnConfirmPassword()
{
    var password1 = $("#password").val();
    var password2 = $("#password2").val();
    if (password1 != password2)
    {
        $("#pp").text("密码不一致...");
        return false;
    }
    else
    {
        $("#pp").text("密码一致");
        return true;
    }
}
$(function()
{
    $("#password2").change(OnConfirmPassword);
});

$(function () {
    $("#name").change(OnUserName)
});
</script>