@model guahao.Models.user
@{
    ViewBag.Title = "Signup";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="inputpassworda">密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control text-box single-line" name="password">
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-md-2" for="inputpassworda">确认密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control text-box single-line" name="password2">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-lg">注册</button>
                <button type="reset" class="btn btn-primary btn-lg">重置</button>
            </div>
        </div>
    </div>
}
