@model guahao.Models.department

@{
    ViewBag.Title = "科室信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.hospital.name,"医院名称")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.name,"科室名称")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
       
        <dt>
            @Html.LabelFor(model => model.url,"科室网址")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回到主页", "Index","Home")
    @Html.ActionLink("选择医生", "DoctorList/" + @Model.id, "Hospital")
</p>
