@model IEnumerable<guahao.Models.department>

@{
    ViewBag.Title = "科室列表";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
        + Html.ActionLink("医院列表", "HospitalList", "Hospital") + " > "
    + "科室列表");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Session["hospital"] - @ViewBag.Title</h1>
<div class="show">
    @foreach (var department in Model)
    {
        <div class="g-hospital-items to-margin">
            <ul class="hos_ul">
                <li class="g-hospital-item J_hospitalItem">
                    <div class="hos-total g-clear " style="border: none;">
                        <div class="info g-left">
                            <dl>
                                <dt>
                                    @Html.ActionLink(@department.name, "DoctorList/" + @department.id, "Hospital")
                                </dt>
                            </dl>
                        </div>

                    </div>

                </li>
            </ul>
        </div>
    }
</div>