@model guahao.Models.doctor

@{
    ViewBag.Title = "医生信息";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
        + Html.ActionLink("医院列表", "HospitalList", "Hospital") + " > "
         + Html.ActionLink("科室列表", "DepartmentList", "Hospital") + " > "
    + "医生信息");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Session["hospital"] - @Session["department"] - @Session["doctor"] - @ViewBag.Title</h1>



<div class="row">
    <div class="col-md-3">
        @{
            int idnum = Model.id % 8 + 1;
            @Html.Raw("<img src='" + Url.Content("~/img/photos/doctor_") + idnum + ".jpg' width='100%' height='100%' />");
        }
    </div>
    <div class="col-md-9">
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.name, "医生姓名")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.name)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.department.name, "所属科室")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.department.name)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.rank, "级别")
            </div>
            <div class="col-md-8 rightdiv">
                <label>专家</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.specialty, "专长")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.specialty)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.is_good, "优秀医生")
            </div>
            <div class="col-md-8 rightdiv">
                <label>是</label>
            </div>
        </div>
    </div>
</div>

    <div class="row col-md-11">
        <label for="date"> 请选择要预约的日期</label>
        <div class="keyword">
            <input type="date" name="date" class="gray" id="date" value="" />
            <input type="hidden" id="doctorId" value="@Model.id" />
            <button type="submit" class="btn-doctor" onclick="searchByDate()">查询</button>
        </div>
    </div>

    <label for="date">可预约时段</label>
    <table class="table" id="dateSelectTable">
        <thead>
            <tr>
                <th>时间</th>
                <th>剩余人数</th>
                <th>价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

<div class="row col-md-12">
    <div class="col-md-2 leftdiv">
        @Html.LabelFor(model => model.introduction, "医生介绍")
    </div>
    <div class="col-md-9 rightdiv">
        <label>@Html.DisplayFor(model => model.introduction)</label>
    </div>
</div>
<script>
    function searchByDate()
    {
        var did = $("#doctorId").val();
        var date=$("#date").val();
        $.ajax({
            url: "@Url.Action("getVisitsByDate","Hospital")",
            type: "POST",
            data: {
                'did': did,
                'date':date
            },
            success: function (datastr) {
                showDates(datastr);
            },
            error: function () {
                alert("查询出错");
            }
        });
    }

    //刷新table显示的日期
    function showDates(datastr)
    {
        var datetime=$("#date").val();
        var data=datastr.split(",");
        var table = $("#dateSelectTable tbody");
        var content = "";
        console.log(datastr);
        for (i = 0; i < data.length; i+=4)
        {
            content += "<tr>";
            content += "<td>" + data[i] + "</td>";
            content += "<td>" + data[i + 1] + "</td>";
            content += "<td>" + data[i + 2] + "</td>";
            datetime = data[i];
            content += "<td><a href='@Url.Content("~/Appointments/Create?did=")" + data[i + 3] + "&date=" + datetime + "' >预约</a></td>";
            content += "</tr>";
        }
        if (datastr.length <= 5) content = "<tr><td colspan='4'>无结果</td></tr>";
        table.html(content);
    }

</script>
