@model guahao.Models.doctor

@{
    ViewBag.Title = "医生信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.department.name,"所在科室")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.name,"医生姓名")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.introduction,"医生介绍")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.introduction)
        </dd>

        <dt>
            @Html.LabelFor(model => model.rank,"医生等级")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rank)
        </dd>

        <dt>
            @Html.LabelFor(model => model.specialty,"医生专长")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialty)
        </dd>

        <dt>
            @Html.LabelFor(model => model.is_good,"是否评优")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_good)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回到主页", "Index", "Home")
    @Html.ActionLink("预约医生", "Create", "Appointments", new { did = @Model.id },null)
</p>
