@model guahao.Models.hospital

@{
    ViewBag.Title = "医院信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name,"医院名称")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.introduction,"医院介绍")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.introduction)
        </dd>

        <dt>
            @Html.LabelFor(model => model.rank,"医院等级")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rank)
        </dd>

        <dt>
            @Html.LabelFor(model => model.address,"医院地址")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tel,"医院电话")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.LabelFor(model => model.type,"医院类型")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.LabelFor(model => model.city,"所在城市")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.LabelFor(model => model.url,"医院网址")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("回到主页", "Index", "Home")
    @Html.ActionLink("选择科室", "DepartmentList/"+@Model.id,"Hospital")
</p>
