@model guahao.Models.hospital

@{
    ViewBag.Title = "医院信息";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
        + Html.ActionLink("医院列表", "HospitalList", "Hospital") + " > "
+ "医院信息");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Session["hospital"] - @ViewBag.Title</h1>
<div>
    <div class="col-md-3">
        @{
            int idnum = Model.id % 8 + 1;
            @Html.Raw("<img src='" + Url.Content("~/img/photos/hospital_") + idnum + ".jpg' width='100%' height='100%' />");
        }
    </div>
    <div class="col-md-9">
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.name, "医院名称")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.name)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.rank, "医院等级")
            </div>
            <div class="col-md-8 rightdiv">
                <label>三级甲等</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.address, "医院地址")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.address)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.tel, "医院电话")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.tel)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.type, "医院类型")
            </div>
            <div class="col-md-8 rightdiv">
                <label>@Html.DisplayFor(model => model.type)</label>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.LabelFor(model => model.city, "所属城市")
            </div>
            <div class="col-md-8 rightdiv">
                <label>
                @{
                    if(Model.city=="bj")
                    {
                        @Html.Raw("北京");
                    }
                    else if(Model.city=="sh")
                    {
                        @Html.Raw("上海");
                    }
                    else if(Model.city=="gz")
                    {
                        @Html.Raw("广州");
                    }
                    else
                    {
                         @Html.Raw(Model.city);
                    }
                }
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row col-md-12">
    <div class="col-md-2 leftdiv">
        @Html.LabelFor(model => model.introduction, "医院介绍")
    </div>
    <div class="col-md-9 rightdiv">
        <label>@Html.DisplayFor(model => model.introduction)</label>
    </div>
</div>
<div class="row col-md-12 btndiv">
    <a href="javascript:history.go(-1);">返回</a>
    @Html.ActionLink("选择科室", "DepartmentList/"+@Model.id,"Hospital")
</div>
