@model guahao.Models.appointment

@{
    ViewBag.Title = "预约信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.doctor.name,"预约医生")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.hospital.name,"预约医院")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.user.name,"预约用户")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.time,"预约时间")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.LabelFor(model => model.price,"应缴费用")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.LabelFor(model => model.status, "缴费状态")
        </dt>

        <dd>
            @if (Model.status == 0)
            {
                @Html.Label("未缴费")
            }
            else
            {
                @Html.Label("已缴费")
            }
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("回到主页", "Index")
</p>
