@model guahao.Models.appointment

@{
    ViewBag.Title = "支付";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
        + Html.ActionLink("查看预约单", "Index", "Appointments") + " > "
        + "支付");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Pay2","Appointments"))
{
    @Html.AntiForgeryToken()


    <div>
        <label style="margin:20px;font-size:14px;">订单信息</label>
        <div class="row">
            <div class="col-md-9">
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("医院名称")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @ViewBag.hospital_name
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("预约人")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @ViewBag.user_name
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("医生姓名")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @ViewBag.doctor_name
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("预约时间")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @Html.TextBoxFor(model => model.time, new { @Value = @ViewBag.time, @readOnly = "readOnly" })
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("价格")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @Html.TextBoxFor(model => model.price, new { @Value = @ViewBag.price, @readOnly = "readOnly" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.id, new { @Value = @ViewBag.id, @readonly = "readonly" })
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("支付单号")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @ViewBag.payNumber
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3 leftdiv">
                        @Html.Label("支付密码")
                    </div>
                    <div class="col-md-8 rightdiv">
                        @Html.Password("password2", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="btndiv">
        <button type="submit">确认支付 </button>
    </div>
}
 
