@model guahao.Models.appointment

@{
    ViewBag.Title = "打印预约单";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
        + Html.ActionLink("查看预约单", "Index", "Appointments") + " > "
        + "打印预约单");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-9">
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("医生")
            </div>
            <div class="col-md-8 rightdiv">
                @Html.DisplayFor(model => model.doctor.name)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("医院")
            </div>
            <div class="col-md-8 rightdiv">
                @Html.DisplayFor(model => model.hospital.name)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("预约人")
            </div>
            <div class="col-md-8 rightdiv">
                @Html.DisplayFor(model => model.user.real_name)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("预约时间")
            </div>
            <div class="col-md-8 rightdiv">
                @Html.DisplayFor(model => model.time)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("应缴费用")
            </div>
            <div class="col-md-8 rightdiv">
                @Html.DisplayFor(model => model.price)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 leftdiv">
                @Html.Label("状态")
            </div>
            <div class="col-md-8 rightdiv">
                @if (Model.status == 0)
                {
                    @Html.Label("未缴费")
                }
                else
                {
                    @Html.Label("已缴费")
                }
            </div>
        </div>
    </div>
</div>
<div class="btndiv">
    <a href="javascript:history.go(-1);">返回</a>
    <a href="javascript:StartPrint()">打印</a>
</div>

<script>
    function StartPrint() {
        alert("开始打印");
        window.print();
    }
</script>