@model guahao.Models.appointment

@{
    ViewBag.Title = "打印预约单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>预约单</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("医生")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.name)
        </dd>

        <dt>
            @Html.Label("医院")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.name)
        </dd>

        <dt>
            @Html.Label("预约人")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.real_name)
        </dd>

        <dt>
            @Html.Label("预约时间")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.Label("应缴费用")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.Label("状态")
        </dt>

        <dd>
            @if (Model.status ==null)
            {
                @Html.Label("未缴费")
            }
            else
            {
                @Html.Label("已缴费")
            }
        </dd>
        <dd>
            <button type="button" id="bb"> 确认打印</button>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回到主页", "Index")

</p>

<script>

    $(function () {
        $("#bb").click(function () {
            alert("开始打印");
            window.print();
        })
    });
</script>